* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#allcontent {
    /* background: skyblue; */
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

@media (max-width:600px) {
    .price-buy {
        height: 50px;
        width: 50px;
    }
    .target .price-buy .buynow {
        width: 100px;
    }
}

.heading2 {
    margin-top: 30px;
}

.review {
    padding-bottom: 40px;
}

.review h1 {
    text-align: center;
}

table,
td {
    padding: 15px;
    letter-spacing: 2px;
    margin-left: 100px;
    border-bottom: 2px solid transparent;
}

.specs {
    width: 100%;
}

@media(max-width:600px) {
    table,
    td {
        margin-left: 0;
    }
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.phone-pics {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.phone-buy {
    width: 70%;
    height: 50%;
    padding: 55px;
    background: #f5f3f3;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
}

.allspec .heading2 {
    text-align: center;
}

.phone-buy .phone-pics .first-phone:hover {
    transform: scale(1.5);
    transition-duration: 1.2s;
    cursor: pointer;
}

.phone-buy .phone-pics .scnd-phone:hover {
    transform: scale(1.5);
    transition-duration: 1.2s;
    cursor: pointer;
}

.phone-buy .phone-pics .third-phone:hover {
    transform: scale(1.5);
    transition-duration: 1.2s;
    cursor: pointer;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.target .phone-buy {
    display: grid;
    grid-template-columns: auto auto;
}

.price-buy h6 {
    display: inline;
    background: #ffcc00;
    padding: 4px;
    border-radius: 7px;
}

.price-buy .storage {
    padding: 10px;
    border-style: groove;
    border-radius: 10px;
}

.price-buy .color {
    padding: 10px;
    border-style: groove;
    border-radius: 10px;
}

.price-buy .buynow {
    padding: 10px;
    text-align: center;
    width: 212px;
}

.price-buy .buynow a {
    text-decoration: none;
    color: black;
}

.target .price-buy .buynow {
    font-size: large;
    border-radius: 10px;
    background: #F56300;
}

.target .price-buy .buynow:hover {
    background: white;
    cursor: pointer;
}

.price-buy h2 {
    color: #ff0000;
    padding: 10px;
}

.specs {
    width: 100%;
}

@media(max-width:600px) {
    iframe {
        width: 330px;
        height: 207px;
    }
}

.backbtn i {
    padding: 20px;
}