    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins' sans-serif;
    }
    
    .Overallcontent {
        background-color: #f5f3f3;
        max-width: 100%;
        height: 780px;
        display: flex;
    }
    
    .payment-side {
        display: flex;
        flex-direction: column;
        background: #f5f3f3;
    }
    
    .pay-content {
        background: #ffff;
        height: 700px !important;
        min-width: 800px !important;
        margin-left: 15px !important;
    }
    
    .head {
        background-color: blue;
        color: #ffff;
        padding: 10px;
        margin-top: 10px;
    }
    
    .sub-head {
        background-color: blue;
        color: #ffff;
        padding: 10px;
        /* width: 880px; */
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        padding: 3px;
    }
    
    .form-check {
        margin-left: 25px;
    }
    
    .avail-upi {
        font-weight: 600;
        font-size: larger;
    }
    
    .naming {
        width: 300px !important;
    }
    
    .addressing {
        width: 300px !important;
        margin-bottom: 10px;
    }
    
    .giv-form {
        width: 100%;
    }
    
    .sub-head2 {
        font-weight: 600;
        font-size: larger;
    }
    
    .sub-head3 {
        font-weight: 600;
        font-size: larger;
    }
    
    .pay-amount {
        width: 400px;
        height: 330px;
        background: #ffff;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 8px;
        right: 0;
    }
    
    .head2 {
        margin-left: 10px;
    }
    
    table,
    td {
        padding: 10px;
    }
    
    .Free {
        color: rgb(97, 202, 45);
        font-weight: 500;
    }
    
    .axis-bank {
        width: 400px !important;
        height: 70px !important;
        background: #ffff;
        margin-right: 100px !important;
        margin-top: 20px;
        display: flex;
        align-items: center !important;
        font-size: small;
        font-weight: 300;
    }
    
    .axis-bank:hover {
        cursor: pointer;
    }
    
    .verify-security {
        display: flex;
        align-items: center;
        width: 500px !important;
        height: 70px !important;
        color: grey;
        text-align: justify;
    }
    
    .verify-security h6 {
        padding: 5px;
    }
    
    .final-line {
        text-align: center;
        background: #f5f3f3;
        letter-spacing: 2px;
        margin: 0;
    }
    
    .avail-payment .order_confirm {
        padding: 4px;
        border-radius: 10px;
    }